:root{
    --light: white;
    --secondary: black;
    --hover: black;
    --over: #ff8263;
    --reverse: black;
    --heading: #d6421c;
  }

  [data-theme="dark"]{
    --dark: black;
    --secondary: white;
    --hover: white;
    --light: black;
  }

body{
    background-color: var(--dark);
}