p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}
.mainAbout{
    margin-top: 50px;
    display: flex;
}
.eduMain{
    display: flex;
}
.aboutOne{
    width: 30%;
}
.aboutTwo{
    width: 70%;
}
h3{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    color: var(--heading);
}
.aboutOne img{
    border-radius: 10% !important ;
}
.edu{
    margin-top: 30px;
}

.mainAbout ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    float: right;
}
.eduInfoSec ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}

.eduInfo{
    display: flex;
}
.eduInfoBuild{
    justify-content: flex-end;
}
.eduIcon{
    border: 2px solid var(--heading);
    padding: 5px;
    border-radius: 20px;
}
.profjour{
    display: flex;
    margin-top:17px;
}
.proJur hr{
    transform: rotate(90deg);
    width: 71px;
    margin-top: 33px;
    margin-left: -18px;
    border-top: 3px var(--heading) dotted;
    border-bottom: none;
}
.profjour .eduInfoSec{
    width: 60%;
    transform: translateX(400px);
}
.profjourtwo{
    margin-left: 20px;
}
.prohead{
    margin-bottom: 50px;
}
.secondli{
    list-style-type: none;
}

@media (max-width: 575px) {

    .mainAbout {
        margin-top: 30px;
        display: block;
        flex-direction: column-reverse;
    }
    .mainAbout img {
        width: 358px;
        margin: 0;
    }
    .aboutTwo {
        margin-top: 30px;
        width: 100%;
    }
    .prohead {
        margin-bottom: 20px;
    }
}