.desktop-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

@media (max-width: 575px) {
    #mobileMenu {
        display: flex;
        width: 90%;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        font-size: 20px;
        line-height: 45px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .mobile-menu ul {
        list-style-type: none;
        transform: translateX(-320px);
        margin-top: 20px;
    }

    #mobileMenu {
        position: sticky;
        top: 0;
        background: orangered !important;
        padding: 20px;
        height: auto;
    }

    #mobileMenu .mobOne img {
        width: 118%;
    }

    #mobileMenu .mobOne {
        width: 60%;
    }

    #mobileMenu .mobTwo {
        width: 5%;
        margin-left: 88px;
        margin-top: 35px;
    }

    button.menu-toggle {
        border: none;
        background-color: transparent;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        padding: 12px 1px 11px 11px;
    }

    .mobile-menu ul {
        list-style-type: none;
    }
}