#skill h1{
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    color: var(--heading);
}
.skillhr{
    width: 95%;
    color: var(--heading);
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}
#skill p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}
.skillContainer{
        padding: 10px 100px 10px 100px;
}
#skill p{
    text-align: center;
}
.tech{
    padding-top: 20px;
}
.tech h3{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    color: var(--heading);
}
.tech span{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    color: var(--heading); 
}
.techskill .progress{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 20px;
    border-radius: 12px;
}
.techskill{
    margin-top: 20px;
    margin-bottom: 20px;
}
.techskill hr{
    display: inline-block;
    width: 37%;
    border-top: dotted;
    color: var(--heading);
    border-bottom: none;
}
.lineRotate {
    width: 7% !important;
    transform: rotate(90deg);
    float: right;
    margin: 38px 16px 2px 9px;
    border-top: dotted;
    color: var(--heading);
    border-bottom: none;
}
#tech2{
    margin-top: 63px;
}
.tech img{
    width: 84px;   
    transform: translateY(31px);
}
.html{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 50px;
    border-radius: 12px;
}
.html:hover{
    background-color: #f16528ed;
    color: white;
    border:2px solid #f16528ed;
}
.css{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 60px;
    border-radius: 12px;
}
.css:hover{
    background-color: #3799d6;
    color: white;
    border:2px solid #3799d6;
}
.java{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 16px;
    border-radius: 12px;
}
.java:hover{
    background-color: #fdcd00;
    color: white;
    border:2px solid #fdcd00;
}
.boot{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 16px;
    border-radius: 12px;
}
.boot:hover{
    background-color: #7310f6;
    color: white;
    border:2px solid #7310f6;
}
.react{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 30px;
    border-radius: 12px;
}
.react:hover{
    background-color: #3399fe;
    color: white;
    border:2px solid #3399fe;
}
.node{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 34px;
    border-radius: 12px;
}
.node:hover{
    background-color: #82cd28;
    color: white;
    border:2px solid #82cd28;
}
.express{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 17px;
    border-radius: 12px;
}
.express:hover{
    background-color: #f1c40f;
    color: white;
    border:2px solid #f1c40f;
}
.mongo{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 22px;
    border-radius: 12px;
}
.mongo:hover{
    background-color: #88d645;
    color: white;
    border:2px solid #88d645;
}
.mui{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 13px;
    border-radius: 12px;
}
.mui:hover{
    background-color: #0080ff;
    color: white;
    border:2px solid #0080ff;
}
.php{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 62px;
    border-radius: 12px;
}
.php:hover{
    background-color: #4f5c93;
    color: white;
    border:2px solid #4f5c93;
}

.wdp{
    padding: 30px;
    border: 2px solid var(--heading);
    padding: 10px 15px;
    border-radius: 12px;
}
.wdp:hover{
    background-color: #3858e9;
    color: white;
    border:2px solid #3858e9;
}

.softSkill{
    margin-top: 40px;
    margin-bottom: 30px;
}

.mainSkill{
    display: flex;
}
.skillOne{
    width: 50%;
}
.skillTwo{
    width: 50%;
}

.softSkill img{
    width: 80%;
    float: right;
    margin-top: -97px;
}

.skillOne ul{
    display: block;
    margin: 0px !important;
    padding: 0px !important;
}

.skillOne ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    list-style-type: disc;
}
.mainSkill .skillOne h4{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 23px;
    color: var(--heading);
}
.mainSkill{
    margin-top: 20px;
}